/**{
    --aprendaCardWidth: 1400px;
}

@media (max-width: 1390px) {
    *{
        --aprendaCardWidth: 1050px;
    }
}

@media (max-width: 1050px) {
    *{
        --aprendaCardWidth: 700px;
    }
}*/